In [6]:
import mysql.connector as connector
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

In [10]:
import mysql.connector
dbconfig = {
    'database':'little_lemon_db',
    'user':'root',
    'password':''
    
}
try:
    pool = MySQLConnectionPool(pool_name="pool_a",
                          pool_size=2,
                          host="127.0.0.1",**dbconfig
                          )
    conn = pool.get_connection()
    if conn.is_connected:
        cursor = conn.cursor()
        
except Error as err:
    if err.errno == 1045:
        print("Error code: {}".format(err.errno))
        print("Error message: {}".format(err.msg))

In [11]:
first_procedure = """CREATE PROCEDURE PeakHours()
BEGIN
  SELECT HOUR(BookingSlot) AS BookingHour,COUNT(HOUR(BookingSlot)) AS NumOfBooking 
  FROM bookings 
  GROUP BY BookingHour 
  ORDER BY NumOfBooking 
  DESC;
END
"""

In [13]:
cursor.execute(first_procedure)

In [14]:
cursor.callproc("PeakHours")

()

In [15]:
results = next(cursor.stored_results())
col = results.column_names
data = results.fetchall()

In [16]:
print(col)
for item in data:
    print(item)

('BookingHour', 'NumOfBooking')
(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

In [17]:
second_procedure = """CREATE PROCEDURE GuestStatus()
BEGIN
    SELECT CONCAT(B.GuestFirstName,' ',B.GuestLastName) AS GustName,
          CASE
              WHEN E.Role = "Manager" THEN "Ready to pay"
              WHEN E.Role = "Assistant Manager" THEN "Ready to pay"
              WHEN E.Role = "Head Chef" THEN "Ready to serve"
              WHEN E.Role = "Assistant Chef" THEN "Preparing Order"
              WHEN E.Role = "Head Waiter" THEN "Order served"
          END AS Status
    FROM bookings B LEFT JOIN Employees E 
    ON
    B.EmployeeID = E.EmployeeID;
END
"""

In [18]:
cursor.execute(second_procedure)

In [19]:
cursor.callproc("GuestStatus")

()

In [20]:
results = next(cursor.stored_results())

In [21]:
col = results.column_names
data = results.fetchall()
print(col)
for item in data:
    print(item)

('GustName', 'Status')
('Anna Iversen', 'Ready to pay')
('Joakim Iversen', 'Ready to pay')
('Vanessa McCarthy', 'Ready to serve')
('Marcos Romero', 'Preparing Order')
('Hiroki Yamane', 'Ready to pay')
('Diana Pinto', 'Order served')