In [22]:
import mysql.connector as connector

In [23]:
connection = connector.connect(user="root",password="")

In [24]:
cursor = connection.cursor()

In [25]:
cursor.execute("USE little_lemon;")

In [26]:
cursor.execute("SHOW TABLES");

In [27]:
tables = cursor.fetchall()

In [28]:
print(tables)

[('bookings',), ('menuitems',), ('menus',), ('orders',)]

In [29]:
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1,12,'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

In [30]:
print(insert_bookings)

INSERT INTO Bookings (BookingID, TableNo, GuestFirstName,
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1,12,'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);

In [31]:
cursor.execute(insert_bookings)
connection.commit()

In [32]:
cursor.execute("SELECT * FROM bookings");

In [33]:
data = cursor.fetchall()

In [34]:
for booking in data:
    print(booking[4])

19:00:00
19:00:00
15:00:00
17:30:00
18:30:00
20:00:00

In [35]:
insert_menuitmes="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1,'Olives','Starters',5),
(2,'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10,'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

In [36]:
cursor.execute(insert_menuitmes)
connection.commit()

In [37]:
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

In [38]:
cursor.execute(insert_orders)
connection.commit()

In [39]:
all_bookings = """SELECT GuestFirstName, 
GuestLastName,TableNo FROM bookings;"""

In [40]:
cursor.execute(all_bookings)

In [41]:
data = cursor.fetchall()

In [44]:
column_names = cursor.column_names

In [46]:
print(column_names)
for item in data:
    print(item)

('GuestFirstName', 'GuestLastName', 'TableNo')
('Anna', 'Iversen', 12)
('Joakim', 'Iversen', 12)
('Vanessa', 'McCarthy', 19)
('Marcos', 'Romero', 15)
('Hiroki', 'Yamane', 5)
('Diana', 'Pinto', 8)

In [47]:
insert_menu="""
INSERT INTO Menus (MenuID, ItemID, Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

In [48]:
cursor.execute(insert_menu)
connection.commit()

In [49]:
select_stmt = """SELECT * FROM menus"""

In [50]:
cursor.execute(select_stmt)

In [51]:
data = cursor.fetchmany(size=3)

In [52]:
data

[(1, 1, 'Greek'), (1, 7, 'Greek'), (1, 10, 'Greek')]

In [55]:
cursor.fetchall() # you have to use this otherwise the cursor will give you unred error

[]

In [56]:
cursor.close()

True