In [1]:
import mysql.connector as connector
connection = connector.connect(user="root",password="")
cursor = connection.cursor()

In [2]:
cursor.execute("USE little_lemon")

Little Lemon needs the following information for each of the items on their menu:

The name of each item in the menu,

Each menu item’s type,

Each menu item’s cuisine,

and the price of each item in the menu.


Help Little Lemon to extract this data from their database using Python.

# INNER JOIN

In [13]:
join_query1 = """SELECT MItem.Name AS Item_Name,MItem.Type AS Item_Type,MItem.Price AS Price,M.Cuisine FROM menuitems MItem 
                 JOIN menus M 
                 ON Mitem.ItemID = M.ItemID;
                 """
print(join_query1)

SELECT MItem.Name AS Item_Name,MItem.Type AS Item_Type,MItem.Price AS Price,M.Cuisine FROM menuitems MItem
                 JOIN menus M
                 ON Mitem.ItemID = M.ItemID;

In [14]:
cursor.execute(join_query1)

In [15]:
col = cursor.column_names
print(col)

('Item_Name', 'Item_Type', 'Price', 'Cuisine')

In [16]:
data = cursor.fetchall()

In [17]:
print(col)
for item in data:
    print(item)

('Item_Name', 'Item_Type', 'Price', 'Cuisine')
('Minestrone', 'Starters', 8, 'Italian')
('Pizza', 'Main Courses', 15, 'Italian')
('Cheesecake', 'Desserts', 4, 'Italian')
('Turkish Coffee', 'Drinks', 10, 'Italian')
('Falafel', 'Starters', 7, 'Turkish')
('Ice cream', 'Desserts', 6, 'Turkish')
('Turkish Coffee', 'Drinks', 10, 'Turkish')
('Kabasa', 'Main Courses', 17, 'Turkish')

# LEFT JOIN

In [18]:
join_query2 = """SELECT MItem.Name AS Item_Name,MItem.Type AS Item_Type,MItem.Price AS Price,M.Cuisine FROM menuitems MItem 
                 LEFT JOIN menus M 
                 ON Mitem.ItemID = M.ItemID;
                 """
print(join_query1)

SELECT MItem.Name AS Item_Name,MItem.Type AS Item_Type,MItem.Price AS Price,M.Cuisine FROM menuitems MItem
                 JOIN menus M
                 ON Mitem.ItemID = M.ItemID;

In [19]:
cursor.execute(join_query2)

In [20]:
data = cursor.fetchall()

In [21]:
print(col)
for item in data:
    print(item)

('Item_Name', 'Item_Type', 'Price', 'Cuisine')
('Minestrone', 'Starters', 8, 'Italian')
('Pizza', 'Main Courses', 15, 'Italian')
('Cheesecake', 'Desserts', 4, 'Italian')
('Turkish Coffee', 'Drinks', 10, 'Italian')
('Falafel', 'Starters', 7, 'Turkish')
('Ice cream', 'Desserts', 6, 'Turkish')
('Turkish Coffee', 'Drinks', 10, 'Turkish')
('Kabasa', 'Main Courses', 17, 'Turkish')
('Olives', 'Starters', 5, None)
('Flatbread', 'Starters', 5, None)
('Tomato bread', 'Starters', 8, None)
('Hummus', 'Starters', 5, None)
('Greek salad', 'Main Courses', 15, None)
('Bean soup', 'Main Courses', 12, None)
('Greek yoghurt', 'Desserts', 7, None)
('Athens White wine', 'Drinks', 25, None)
('Corfu Red Wine', 'Drinks', 30, None)

in the left join all the left data will be present even the data of the right table is missing

Little Lemon restaurant need you to help them retrieve the following information from the Bookings and the Orders tables in their MySQL database using Python:

Booking ID,

Table number,

Guest first name,

And Bill amount.

In [31]:
join_query3 = """SELECT B.BookingID,B.TableNo,B.GuestFirstName,O.BillAmount
                 FROM bookings B LEFT JOIN orders O on B.BookingID = O.BookingID;"""
print(join_query3)

SELECT B.BookingID,B.TableNo,B.GuestFirstName,O.BillAmount
                 FROM bookings B LEFT JOIN orders O on B.BookingID = O.BookingID;

In [32]:
cursor.execute(join_query3)

In [33]:
col = cursor.column_names
data = cursor.fetchall()

In [34]:
print(col)
for item in data:
    print(item)

('BookingID', 'TableNo', 'GuestFirstName', 'BillAmount')
(1, 12, 'Anna', 86)
(2, 11, 'Joakim', 37)
(3, 19, 'Vanessa', 37)
(4, 15, 'Marcos', 40)
(5, 5, 'Hiroki', 43)
(6, 10, 'Diana', None)

1) The INNER JOIN operation is performed by SQL on the selected tables in the MySQL database.
2) Python, along with the connector API, serves as a facilitator for SQL queries. It does not do anything more than what is requested in the SQL query.
3)  Python does not play any role other than communicating to MySQL database via connector API. The data is retrieved according to the instructions in the SQL query