# DATETIME FUNCTION

In [3]:
import mysql.connector as connector
connection = connector.connect(user="root",password="",host="127.0.0.1")
cursor = connection.cursor()
cursor.execute("USE little_lemon")

In [13]:
## datetime functions 
import datetime as dt
current_time = dt.datetime.now() #Year-Month-Day Hour:Munite:Second
print(current_time)
print(current_time.date())
print(current_time.time())

## find the difference of time is time delta
## whats was the date after one week
week = dt.timedelta(days=7)
print(week)

date_after_1_week = current_time.date()+week
print(date_after_1_week)
date_after_1_week = current_time+week
print(date_after_1_week)

2023-01-05 06:44:15.356165
2023-01-05
06:44:15.356165
7 days, 0:00:00
2023-01-12
2023-01-12 06:44:15.356165

In [14]:
## changing the booking slot to 1 hour 
query1 = """SELECT * FROM bookings;"""
cursor.execute(query1)

In [15]:
col = cursor.column_names
print(col)

('BookingID', 'TableNo', 'GuestFirstName', 'GuestLastName', 'BookingSlot', 'EmployeeID')

In [16]:
results = cursor.fetchall()

In [20]:
for item in results:
    print(item)

(1, 12, 'Anna', 'Iversen', datetime.timedelta(seconds=68400), 1)
(2, 11, 'Joakim', 'Iversen', datetime.timedelta(seconds=68400), 6)
(3, 19, 'Vanessa', 'McCarthy', datetime.timedelta(seconds=54000), 3)
(4, 15, 'Marcos', 'Romero', datetime.timedelta(seconds=63000), 4)
(5, 5, 'Hiroki', 'Yamane', datetime.timedelta(seconds=66600), 2)
(6, 10, 'Diana', 'Pinto', datetime.timedelta(seconds=72000), 5)

In [24]:
for result in results:
    booking_id       = result[0]
    booking_slot     = result[4]
    new_booking_slot = booking_slot+dt.timedelta(hours=1)
    print("BookingID {} is moved from {} to {}".format(booking_id,booking_slot,new_booking_slot))

BookingID 1 is moved from 19:00:00 to 20:00:00
BookingID 2 is moved from 19:00:00 to 20:00:00
BookingID 3 is moved from 15:00:00 to 16:00:00
BookingID 4 is moved from 17:30:00 to 18:30:00
BookingID 5 is moved from 18:30:00 to 19:30:00
BookingID 6 is moved from 20:00:00 to 21:00:00

In [25]:
## total amount of different order
sql_query2 = """SELECT SUM(BillAmount) AS Total_Sale FROM orders;"""
print(sql_query2)

SELECT SUM(BillAmount) AS Total_Sale FROM orders;

In [26]:
cursor.execute(sql_query2)
col = cursor.column_names
data = cursor.fetchall()
print(col)
for item in data:
    print(item)

('Total_Sale',)
(Decimal('243'),)

In [27]:
sql_query3 = """SELECT BookingSlot AS Slot FROM bookings;"""
print(sql_query3)

SELECT BookingSlot AS Slot FROM bookings;

In [30]:
cursor.execute(sql_query3)
col = cursor.column_names
data = cursor.fetchall()
print(col)
for item in data:
    print(item[0])

('Slot',)
19:00:00
19:00:00
15:00:00
17:30:00
18:30:00
20:00:00

In [31]:
sql_query4 = """SELECT HOUR(BookingSlot) AS HOUR_SLOT FROM bookings;"""
print(sql_query4)

SELECT HOUR(BookingSlot) AS HOUR_SLOT FROM bookings;

In [32]:
cursor.execute(sql_query4)
col = cursor.column_names
data = cursor.fetchall()
print(col)
for item in data:
    print(item[0])

('HOUR_SLOT',)
19
19
15
17
18
20

# TASK 1
Along with the booking ID, little lemon needs to add the full name of the guests in upper case on their invoices. Help little lemon to extract the data in the required format.
TIP: Target GuestFistName, GuestLastName and combine them to get GuestFullName.

In [33]:
sql_query5 = """SELECT BookingID AS ID,CONCAT(GuestFirstName," ",GuestLastName) AS GuestFullName FROM bookings;"""
print(sql_query5)

SELECT BookingID AS ID,CONCAT(GuestFirstName," ",GuestLastName) AS GuestFullName FROM bookings;

In [34]:
cursor.execute(sql_query5)

In [35]:
col  = cursor.column_names
data = cursor.fetchall()
print(col)
for item in data:
    print(item)

('ID', 'GuestFullName')
(1, 'Anna Iversen')
(2, 'Joakim Iversen')
(3, 'Vanessa McCarthy')
(4, 'Marcos Romero')
(5, 'Hiroki Yamane')
(6, 'Diana Pinto')