In [1]:
# !pip install mysql-connector-python

In [1]:
import mysql.connector as connector

In [2]:
connection = connector.connect(user="root",password="")

In [3]:
print(connection.database)
print(connection.user)

None
root

In [4]:
cursor = connection.cursor()

In [5]:
create_database_query = """CREATE DATABASE IF NOT EXISTS little_lemon"""

In [6]:
cursor.execute(create_database_query)
print(connection.database)

None

In [7]:
use_database_query = """USE little_lemon"""

In [8]:
cursor.execute(use_database_query)

In [9]:
print(connection.database)

little_lemon

In [10]:
create_menu_table = """
CREATE TABLE IF NOT EXISTS MenuItems(
    ItemID INT NOT NULL AUTO_INCREMENT,
    Name VARCHAR(200),
    Type VARCHAR(100),
    Price INT,
    PRIMARY KEY(ItemID)
)
"""

In [11]:
print(create_menu_table)

CREATE TABLE IF NOT EXISTS MenuItems(
    ItemID INT NOT NULL AUTO_INCREMENT,
    Name VARCHAR(200),
    Type VARCHAR(100),
    Price INT,
    PRIMARY KEY(ItemID)
)

In [12]:
cursor.execute(create_menu_table)

In [13]:
cursor.execute("SHOW DATABASES")

In [15]:
for database in cursor:
    print(database)

('information_schema',)
('little_lemon',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)

In [16]:
connection.database

'little_lemon'

In [18]:
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('menuitems',)

In [20]:
create_menu_table = """
    CREATE TABLE IF NOT EXISTS Menus(
    MenuID INT,
    ItemID INT,
    Cuisine VARCHAR(100),
    PRIMARY KEY(MenuID,ItemID)
    );
"""
print(create_menu_table)

    CREATE TABLE IF NOT EXISTS Menus(
    MenuID INT,
    ItemID INT,
    Cuisine VARCHAR(100),
    PRIMARY KEY(MenuID,ItemID)
    );

In [21]:
cursor.execute(create_menu_table)

In [22]:
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('menuitems',)
('menus',)

In [27]:
create_booking_table = """
    CREATE TABLE IF NOT EXISTS Bookings
    (
        BookingID INT NOT NULL AUTO_INCREMENT,
        TableNo INT,
        GuestFirstName VARCHAR(100) NOT NULL,
        GuestLastName VARCHAR(100) NOT NULL,
        BookingSlot TIME NOT NULL,
        EmployeeID INT,
        PRIMARY KEY (BookingID)
    );
"""
print(create_booking_table)

    CREATE TABLE IF NOT EXISTS Bookings
    (
        BookingID INT NOT NULL AUTO_INCREMENT,
        TableNo INT,
        GuestFirstName VARCHAR(100) NOT NULL,
        GuestLastName VARCHAR(100) NOT NULL,
        BookingSlot TIME NOT NULL,
        EmployeeID INT,
        PRIMARY KEY (BookingID)
    );

In [28]:
cursor.execute(create_booking_table)

In [35]:
create_order_table = """CREATE TABLE IF NOT EXISTS Orders(
    OrderID INT,
    TableNo INT,
    MenuID INT,
    BookingID INT,
    BollAmount INT,
    Quantity INT,
    PRIMARY KEY(OrderID,TableNo)
    );
"""
print(create_order_table)

CREATE TABLE IF NOT EXISTS Orders(
    OrderID INT,
    TableNo INT,
    MenuID INT,
    BookingID INT,
    BollAmount INT,
    Quantity INT,
    PRIMARY KEY(OrderID,TableNo)
    );

In [36]:
cursor.execute(create_order_table)

In [37]:
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('bookings',)
('menuitems',)
('menus',)
('orders',)