In [2]:
import mysql.connector as connector

In [11]:
query1 = """SELECT BookingID,BillAmount FROM orders
           WHERE BillAmount>=40
           ORDER BY BillAmount ASC
        """

In [12]:
print(query)

SELECT BookingID,BillAmount FROM orders
           WHERE BillAmount>=40
           ORDER BY BillAmount ASC

In [13]:
connection = connector.connect(user="root",password="")

In [14]:
cursor = connection.cursor()

In [15]:
cursor.execute("USE little_lemon")

In [16]:
cursor.execute(query1)

In [17]:
result = cursor.fetchall()

In [18]:
for item in result:
    print(item)

(4, 40)
(5, 43)
(1, 86)

Little Lemon need you to help them query their database to find out how many bookings they have today for table number 12. They also need to know the names of the guests booked for table 12 and who their servers are. These records are located within the following tables in the database:

TableNo,

GuestFirstName,

GuestLastName,

and EmployeeID.

In [20]:
query2 = """SELECT TableNo,GuestFirstName,GuestLastName,EmployeeID 
            FROM bookings WHERE TableNo=12;"""
print(query2)

SELECT TableNo,GuestFirstName,GuestLastName,EmployeeID
            FROM bookings WHERE TableNo=12;

In [21]:
cursor.execute(query2)

In [22]:
data = cursor.fetchall()

In [24]:
col = cursor.column_names

In [25]:
print(col)
for item in data:
    print(item)

('TableNo', 'GuestFirstName', 'GuestLastName', 'EmployeeID')
(12, 'Anna', 'Iversen', 1)

Little Lemon want to send a coupon to all guests who spent more than $40 at the restaurant today

In [37]:
query3 = """SELECT BookingID,BillAmount FROM orders WHERE BillAmount > 40 
            ORDER BY BillAmount DESC"""

In [38]:
cursor.execute(query3)

In [39]:
data = cursor.fetchall()

In [40]:
col = cursor.column_names

In [41]:
print(col)
for item in data:
    print(item)

('BookingID', 'BillAmount')
(1, 86)
(5, 43)

A guest wants to know the price of today’s starters and desserts. So Little Lemon need to extract the price of today’s STARTERS and DESSERT options from their database. 

Create a query that extracts the prices and details of starters and dessert options only from the MenuItems table. Order these prices from lower to higher.

In [42]:
query4 = """SELECT * FROM menuitems WHERE Type='Starters' OR Type='Desserts'
            ORDER BY Price ASC """
print(query4)

SELECT * FROM menuitems WHERE Type='Starters' OR Type='Desserts'
            ORDER BY Price ASC

In [43]:
cursor.execute(query4)

In [44]:
data = cursor.fetchall()

In [45]:
col = cursor.column_names

In [46]:
print(col)
for item in data:
    print(item)

('ItemID', 'Name', 'Type', 'Price')
(12, 'Cheesecake', 'Desserts', 4)
(1, 'Olives', 'Starters', 5)
(2, 'Flatbread', 'Starters', 5)
(6, 'Hummus', 'Starters', 5)
(11, 'Ice cream', 'Desserts', 6)
(5, 'Falafel', 'Starters', 7)
(10, 'Greek yoghurt', 'Desserts', 7)
(3, 'Minestrone', 'Starters', 8)
(4, 'Tomato bread', 'Starters', 8)

question answer
1) you can filter data by any column in a table and python allows it too
2) commit is not requered for reading data because the original table remain intact
3) if you use cursor.fetchmany(rows=1) that means you fetch all the data but showing only one . you can find the rest of it using fetchall() method .if you want to invoke another sql in execute() method you must consume all remaning data with fetchall()