In [1]:
import datetime as dt
import mysql.connector as connector

In [2]:
connection = connector.connect(user="root",password="")

In [3]:
cursor = connection.cursor();
cursor.execute("USE little_lemon")

In [38]:
sql_query1 = """SELECT COUNT(BookingID) AS n_bookings,HOUR(BookingSlot) AS Hour FROM bookings GROUP BY Hour """
cursor.execute(sql_query1)
col = cursor.column_names
data = cursor.fetchall()
print("Ucoming Bookings")
for item in data:
    print("Hour: {} <<>> {} Booking/s".format(item[1],item[0]))

Ucoming Bookings
Hour: 15 <<>> 1 Booking/s
Hour: 17 <<>> 1 Booking/s
Hour: 18 <<>> 1 Booking/s
Hour: 19 <<>> 2 Booking/s
Hour: 20 <<>> 1 Booking/s

In [58]:
## first approach
sql_query2 = """SELECT TableNo,CONCAT(GuestFirstName,' ',GuestLastName) AS FullName,HOUR(BookingSlot),MINUTE(BookingSlot) FROM bookings"""
#print(sql_query2)
cursor.execute(sql_query2)
col = cursor.column_names
data = cursor.fetchall()
#print(col)
for item in data:
    table_no = item[0]
    name     = item[1]
    hour     = item[2]
    minute   = item[3]
    print("""[Table no:] {} >> {} is expected to arrive at:{} hrs and {} mins""".format(table_no,name,hour,minute))

[Table no:] 12 >> Anna Iversen is expected to arrive at:19 hrs and 0 mins
[Table no:] 11 >> Joakim Iversen is expected to arrive at:19 hrs and 0 mins
[Table no:] 19 >> Vanessa McCarthy is expected to arrive at:15 hrs and 0 mins
[Table no:] 15 >> Marcos Romero is expected to arrive at:17 hrs and 30 mins
[Table no:] 5 >> Hiroki Yamane is expected to arrive at:18 hrs and 30 mins
[Table no:] 10 >> Diana Pinto is expected to arrive at:20 hrs and 0 mins

In [70]:
## SECOND APPROACHED
import time
sql_query2 = """SELECT TableNo,CONCAT(GuestFirstName,' ',GuestLastName) AS FullName,BookingSlot FROM bookings"""
#print(sql_query2)
cursor.execute(sql_query2)
col = cursor.column_names
data = cursor.fetchall()
#print(col)
for item in data:
    table_no   = item[0]
    name       = item[1]
    time       = str(item[2])
    hour       = dt.datetime.strptime(time,"%H:%M:%S").hour
    minute     = dt.datetime.strptime(time,"%H:%M:%S").minute
    print("""[Table no:] {} >> {} is expected to arrive at:{} hrs and {} mins""".format(table_no,name,hour,minute))

[Table no:] 12 >> Anna Iversen is expected to arrive at:19 hrs and 0 mins
[Table no:] 11 >> Joakim Iversen is expected to arrive at:19 hrs and 0 mins
[Table no:] 19 >> Vanessa McCarthy is expected to arrive at:15 hrs and 0 mins
[Table no:] 15 >> Marcos Romero is expected to arrive at:17 hrs and 30 mins
[Table no:] 5 >> Hiroki Yamane is expected to arrive at:18 hrs and 30 mins
[Table no:] 10 >> Diana Pinto is expected to arrive at:20 hrs and 0 mins

In [74]:
sql_query3 = """SELECT BookingID,TableNo,BookingSlot,ADDTIME(BookingSlot,"1:00:00") AS NewTime FROM bookings WHERE BookingID = 2;"""
cursor.execute(sql_query3)
col = cursor.column_names
data = cursor.fetchall()
print("Booking Time Change Alert!!!")
for item in data:
    print("BookingID        : {}".format(item[0]))
    print("TableNo          : {}".format(item[1]))
    print("Old BookingSlot  : {}".format(item[2]))
    print("New Arrival Time : {}".format(item[3]))

Booking Time Change Alert!!!
BookingID        : 2
TableNo          : 11
Old BookingSlot  : 19:00:00
New Arrival Time : 20:00:00