In [1]:
import mysql.connector as connector

In [2]:
connection = connector.connect(user="root",password="",host="127.0.0.1")

In [3]:
cursor = connection.cursor()

In [4]:
cursor.execute("USE little_lemon;")

In [5]:
cursor.execute("SHOW TABLES");

In [6]:
cursor.fetchall()

[('bookings',), ('menuitems',), ('menus',), ('orders',)]

In [7]:
select_stmt = """SELECT * FROM bookings"""

In [8]:
cursor.execute(select_stmt)

In [9]:
data = cursor.fetchall()

In [11]:
cols = cursor.column_names

In [12]:
print(cols)
for item in data:
    print(item)

('BookingID', 'TableNo', 'GuestFirstName', 'GuestLastName', 'BookingSlot', 'EmployeeID')
(1, 12, 'Anna', 'Iversen', datetime.timedelta(seconds=68400), 1)
(2, 12, 'Joakim', 'Iversen', datetime.timedelta(seconds=68400), 1)
(3, 19, 'Vanessa', 'McCarthy', datetime.timedelta(seconds=54000), 3)
(4, 15, 'Marcos', 'Romero', datetime.timedelta(seconds=63000), 4)
(5, 5, 'Hiroki', 'Yamane', datetime.timedelta(seconds=66600), 2)
(6, 8, 'Diana', 'Pinto', datetime.timedelta(seconds=72000), 5)

In [15]:
update_stmt = """UPDATE bookings SET TableNo=10 WHERE BookingID=6""";

In [16]:
print(update_stmt)

UPDATE bookings SET TableNo=10 WHERE BookingID=6

In [17]:
cursor.execute(update_stmt)

In [18]:
connection.commit()

In [19]:
select_stmt = """SELECT * FROM bookings"""
cursor.execute(select_stmt)
data = cursor.fetchall()
print(data)

[(1, 12, 'Anna', 'Iversen', datetime.timedelta(seconds=68400), 1), (2, 12, 'Joakim', 'Iversen', datetime.timedelta(seconds=68400), 1), (3, 19, 'Vanessa', 'McCarthy', datetime.timedelta(seconds=54000), 3), (4, 15, 'Marcos', 'Romero', datetime.timedelta(seconds=63000), 4), (5, 5, 'Hiroki', 'Yamane', datetime.timedelta(seconds=66600), 2), (6, 10, 'Diana', 'Pinto', datetime.timedelta(seconds=72000), 5)]

In [20]:
update_stmt = """UPDATE bookings SET TableNo=11,EmployeeID=6 WHERE BookingID=2""";

In [21]:
print(update_stmt)

UPDATE bookings SET TableNo=11,EmployeeID=6 WHERE BookingID=2

In [22]:
cursor.execute(update_stmt)

In [23]:
connection.commit()

In [24]:
select_stmt = """SELECT * FROM bookings"""
cursor.execute(select_stmt)
data = cursor.fetchall()
print(data)

[(1, 12, 'Anna', 'Iversen', datetime.timedelta(seconds=68400), 1), (2, 11, 'Joakim', 'Iversen', datetime.timedelta(seconds=68400), 6), (3, 19, 'Vanessa', 'McCarthy', datetime.timedelta(seconds=54000), 3), (4, 15, 'Marcos', 'Romero', datetime.timedelta(seconds=63000), 4), (5, 5, 'Hiroki', 'Yamane', datetime.timedelta(seconds=66600), 2), (6, 10, 'Diana', 'Pinto', datetime.timedelta(seconds=72000), 5)]

In [27]:
select_stmt = """SELECT * FROM menus"""
cursor.execute(select_stmt)
data = cursor.fetchall()
col = cursor.column_names
print(col)
for item in data:
    print(item)

('MenuID', 'ItemID', 'Cuisine')
(1, 1, 'Greek')
(1, 7, 'Greek')
(1, 10, 'Greek')
(1, 13, 'Greek')
(2, 3, 'Italian')
(2, 9, 'Italian')
(2, 12, 'Italian')
(2, 15, 'Italian')
(3, 5, 'Turkish')
(3, 11, 'Turkish')
(3, 16, 'Turkish')
(3, 17, 'Turkish')

In [28]:
delete_stmt = "DELETE FROM menus WHERE Cuisine='Greek'";
print(delete_stmt)

DELETE FROM menus WHERE Cuisine='Greek'

In [29]:
cursor.execute(delete_stmt)
connection.commit()

In [30]:
select_stmt = """SELECT * FROM menus"""
cursor.execute(select_stmt)
data = cursor.fetchall()
col = cursor.column_names
print(col)
for item in data:
    print(item)

('MenuID', 'ItemID', 'Cuisine')
(2, 3, 'Italian')
(2, 9, 'Italian')
(2, 12, 'Italian')
(2, 15, 'Italian')
(3, 5, 'Turkish')
(3, 11, 'Turkish')
(3, 16, 'Turkish')
(3, 17, 'Turkish')